$scale: 10;

$min-top: 10;
$max-top: 1000;

$min-right: 10;
$max-right: 500;

$min-bottom: 10;
$max-bottom: 100;

$min-left: 10;
$max-left: 500;

// Top margins

@if $min-top > 0 {
  $unscaled-min-top: $min-top / $scale;
  $unscaled-max-top: $max-top / $scale;

  @for $i from $unscaled-min-top through $unscaled-max-top {
    .p-top-#{$i} {
      padding-top: #{$i * $scale}px;
    }
  }
}

// Right margins

@if $min-right > 0 {
  $unscaled-min-right: $min-right / $scale;
  $unscaled-max-right: $max-right / $scale;

  @for $i from $unscaled-min-right through $unscaled-max-right {
    .p-right-#{$i} {
      padding-right: #{$i * $scale}px;
    }
  }
}

// Bottom margins

@if $min-bottom > 0 {
  $unscaled-min-bottom: $min-bottom / $scale;
  $unscaled-max-bottom: $max-bottom / $scale;

  @for $i from $unscaled-min-bottom through $unscaled-max-bottom {
    .p-bottom-#{$i} {
      padding-bottom: #{$i * $scale}px;
    }
  }
}

// Left margins

@if $min-left > 0 {
  $unscaled-min-left: $min-left / $scale;
  $unscaled-max-left: $max-left / $scale;

  @for $i from $unscaled-min-left through $unscaled-max-left {
    .p-left-#{$i} {
      padding-left: #{$i * $scale}px;
    }
  }
}

@media (max-width: 1000px) {
  // Top margins

  @if $min-top > 0 {
    $unscaled-min-top: $min-top / $scale;
    $unscaled-max-top: $max-top / $scale;

    @for $i from $unscaled-min-top through $unscaled-max-top {
      .p-top-#{$i}-sm {
        padding-top: #{$i * $scale}px;
      }
    }
  }

  // Right margins

  @if $min-right > 0 {
    $unscaled-min-right: $min-right / $scale;
    $unscaled-max-right: $max-right / $scale;

    @for $i from $unscaled-min-right through $unscaled-max-right {
      .p-right-#{$i}-sm {
        padding-right: #{$i * $scale}px;
      }
    }
  }

  // Bottom margins

  @if $min-bottom > 0 {
    $unscaled-min-bottom: $min-bottom / $scale;
    $unscaled-max-bottom: $max-bottom / $scale;

    @for $i from $unscaled-min-bottom through $unscaled-max-bottom {
      .p-bottom-#{$i}-sm {
        padding-bottom: #{$i * $scale}px;
      }
    }
  }

  // Left margins

  @if $min-left > 0 {
    $unscaled-min-left: $min-left / $scale;
    $unscaled-max-left: $max-left / $scale;

    @for $i from $unscaled-min-left through $unscaled-max-left {
      .p-left-#{$i}-sm {
        padding-left: #{$i * $scale}px;
      }
    }
  }

  .p-0-sm {
    padding: 0;
  }
}
